.DS_Store
._*
*.tgz
*.bundle

Requests/
Renders/
unity/GotchiCustomRenderer/[Ll]ibrary/
unity/GotchiCustomRenderer/[Tt]emp/
unity/GotchiCustomRenderer/[Oo]bj/
unity/GotchiCustomRenderer/[Bb]uild/
unity/GotchiCustomRenderer/[Bb]uilds/
unity/GotchiCustomRenderer/[Ll]ogs/
unity/GotchiCustomRenderer/UserSettings/
unity/GotchiCustomRenderer/MemoryCaptures/
